<page-header [title]="'患者信息查询'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" [formGroup]="formModel" (ngSubmit)="currentPage=1;searchInfo()" class="search__form">
    <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label>科室</nz-form-label>
          <nz-form-control>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" formControlName="form_province">
                <nz-option *ngFor="let item of deptOption" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
              </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="24" class="text-right">
        <button nz-button type="submit" [nzType]="'primary'">
            <i nz-icon type="loading" *ngIf="loading"></i>
            <i nz-icon type="search" *ngIf="!loading"></i>
          查询
        </button>
        <button nz-button type="button" (click)="resetInfo()" class="mx-sm">
          <i nz-icon type="redo"></i>
          重置
        </button>
      </nz-col>
    </nz-row>
  </form>
</nz-card>
<nz-card [nzBordered]="false">
  <div class="it-group">
      <nz-input-group nzSuffixIcon="anticon anticon-search" style="width: 270px;">
        <input type="text" nz-input placeholder="回车搜索" [(ngModel)]="sInfo" name="sInfo">
      </nz-input-group>
  </div>

  <nz-table
    #rowSelectionTable
    [nzLoading] = "loading"
    [nzData]="dataSet"
    [nzShowPagination]="false">
    <thead>
      <tr>
        <th>序号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>年龄</th>
        <th>科室</th>
        <th>床位</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataSet">
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.sex}}</td>
        <td>{{data.age}}</td>
        <td>{{data.dept}}</td>
        <td>{{data.bed}}</td>
        <td>{{data.state}}</td>
      </tr>
    </tbody>
  </nz-table>
  <div *ngIf="rowSelectionTable.data.length > 0" class="paging">
      <p>共 {{totalAmount}} 条</p>
      <div class="flex1"></div>
      <nz-pagination [nzPageIndex]="currentPage" [nzPageSize]="perPage" (nzPageSizeChange)="pageSizeChange($event)" (nzPageIndexChange)="pageIndexChange($event)"  nzShowSizeChanger [nzTotal]="totalAmount"></nz-pagination>
  </div>
</nz-card>