<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/_/img/F-UI.png" style="
        background: #1890ff;
        width: 50px;
        height: 50px;
        border-radius: 10px;">
        <span class="title">f-ui</span>
      </div>
      <!-- <div class="desc">武林中最有影响力的《葵花宝典》；欲练神功，挥刀自宫</div> -->
    </div>
    <router-outlet></router-outlet>
    <global-footer >
    烟台中科网络技术研究所 <i class="anticon anticon-copyright"></i> 2018
</global-footer>
  </div>
</div>
