<page-header [title]="'用户数据调整'"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" [formGroup]="formModel" (ngSubmit)="currentPage=1;searchInfo()" class="search__form">
    <nz-row [nzGutter]="{ md: 8, lg: 24, xl: 48 }">
      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label>地址</nz-form-label>
          <nz-form-control>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" formControlName="form_address">
                <nz-option *ngFor="let item of addressOption" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
              </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label>社区</nz-form-label>
          <nz-form-control>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" formControlName="form_community">
                <nz-option *ngFor="let item of communityOption" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
              </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label>网格</nz-form-label>
          <nz-form-control>
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" formControlName="form_grid">
                <nz-option *ngFor="let item of gridOption" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
              </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="24" class="text-right">
        <button nz-button type="submit" [nzType]="'primary'">
            <i nz-icon type="loading" *ngIf="loading"></i>
            <i nz-icon type="search" *ngIf="!loading"></i>
          查询
        </button>
        <button nz-button type="button" (click)="resetInfo()" class="mx-sm">
          <i nz-icon type="redo"></i>
          重置
        </button>
      </nz-col>
    </nz-row>
  </form>
</nz-card>
<nz-card [nzBordered]="false">
  <div class="it-group">
      <nz-input-group nzSuffixIcon="anticon anticon-search" style="width: 270px;">
        <input type="text" nz-input placeholder="回车搜索" [(ngModel)]="sInfo" name="sInfo">
      </nz-input-group>
  </div>
  <nz-table
    #rowSelectionTable
    [nzLoading] = "loading"
    [nzData]="dataSet"
    [nzShowPagination]="false">
    <thead>
      <tr>
        <th>序号</th>
        <th>用户姓名</th>
        <th>身份证号</th>
        <th>导入地址</th>
        <th>联系方式</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataSet">
        <td>{{data.xh}}</td>
        <td>{{data.yhxm}}</td>
        <td>{{data.sfzh}}</td>
        <td>{{data.drdz}}</td>
        <td>{{data.lxfs}}</td>
        <td>
            <a class="ng-star-inserted" (click)="editAddress(data)">地址编辑</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div *ngIf="rowSelectionTable.data.length > 0" class="paging">
      <p>共 {{totalAmount}} 条</p>
      <div class="flex1"></div>
      <nz-pagination [nzPageIndex]="currentPage" [nzPageSize]="perPage" (nzPageSizeChange)="pageSizeChange($event)" (nzPageIndexChange)="pageIndexChange($event)"  nzShowSizeChanger [nzTotal]="totalAmount"></nz-pagination>
  </div>
</nz-card>

<app-edit-address [getdata]="emitData" (infoemit)="dataEmit($event)"></app-edit-address>